DATABASE_USER="root"
DATABASE_PASSWORD=
DATABASE_NAME="bootcamp_tasks"
DATABASE_URL=`mysql://root:${DATABASE_PASSWORD}@localhost:3306/bootcamp_tasks`
DATABASE_HOST="localhost"
DATABASE_PORT=3306
JWT_SECRET=